<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<span>host:</span><span th:text="${host}">Hello World</span>
<br/>


<span>1：获取变量</span>
<br/>
<span>list:</span>
<ul th:each="obj : ${list}">
    <li th:text="${obj.bigDecimal}">${obj.bigDecimal}</li>
    <li th:text="${obj.str}">${obj.str}</li>
    <li th:text="${obj.date}">${obj.date}</li>
    <li th:text="${obj.integer}">${obj.integer}</li>
</ul>
<br/>

<span>map:</span>
<ul th:each="entry : ${map}">
     <li th:text="${entry.key}">${entry.key}</li>
     <li th:text="${entry.value}">${entry.value}</li>
     <li th:text="${entry.value.str}">${entry.value.str}</li>
</ul>
<br/>

<span>2.引入URL</span>
<br/>
<!--原型即页面-->
<a th:href="@{http://blog.csdn.net/u012706811}">绝对路径</a>
<a th:href="@{/abc}">相对路径</a>
<a th:href="@{css/simple.css}">Content路径,默认访问static下的css文件夹</a>
<a href="abc" th:href="@{cba}">abc or cba</a>

</body>
</html>